[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExactVaRTest"]
	path = ExactVaRTest
	url = https://github.com/yujianchen219/exactvartest
